.footer {
    width: 100%;
    margin: auto;
}

.footer_thanksNote {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_credits {
    width: 100%;
    text-align: center;
    line-height:0.2rem ;
}

@media (max-width: 768px){
    .footer_thanksNote {
        width: 90%;
        text-align: center;
         margin: auto;
    }
}   